- content_for(:title) { 'Welcome' }

.row
  - %w(To\ Do Design Development Testing Done).each do |state|
    .swimlane
      %h4 #{state}
      %ul.cards
        - rand(15).times do |i|
          %li.card
            %span.title Card #{i}
            .tags #{state.downcase}
